{% extends 'layout.html' %}

{% block body %}
<!--banner-->
<section class="banner_w3lspvt" id="home">
  <div class="csslider infinity" id="slider1">
    
    <div class="banner-top">
      <div class="overlay">
        <div class="container">
          <div class="banner_w3lspvt-info text-center">
            <h3 class="text-wh">goodcrop</h3>
            <h4 class="text-wh mx-auto my-4"><br>Get informed decision about your farming strategy</br></h4>
            <h4 class="text-wh mx-auto my-4"><strong> </strong></h4>
            
              
            </p>
            
          </div>
          
        </div>
        
      </div>
      
    </div>
  </div>
</section>